* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: serif;
font-size: 16px;
/* display: flex;
align-items: center;
justify-content: center;
flex-direction: column; */
}
/* 
#root {
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, rgb(172, 224, 255), rgb(238, 255, 205));
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorization {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 10px;
    gap: 20px;
    
}

.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.block:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid black;
}

.listItem {
    flex: 1 1 auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.item {
    width: 100%;
    background: rgb(192, 192, 192);
    padding: 4px;
    cursor: pointer;
}

.itemGray {
    background-color: rgb(147, 252, 147);
} */